extends ../layout

block content
	h1 Welcome

	a(href="/items/add") Add New

	table
		thead
			tr
				th Name
				th Description
				th Actions
		tbody
			for item in data
				tr
					td
						a(href="/items/edit/#{item._id}") #{item.name}
					td.
						#{item.desc}
					td
						a(href="/items/delete/#{item._id}") Delete
			else
				tr
					td(colspan="3")
						| No items